.bg-black {
    background-color: black;
}
.pointer {
    cursor: pointer;
}
.sony-logo {
    width: 60px;
}
.navbar-text {
    color: black;
    font-size: 1.2em;
}
.playstation-logo {
    width: 40px;
}
.hamburger {
    width: 1em;
    height: 1em;
    margin-bottom: 2px;
}
.access-button-bg {
    background-color: rgb(54,54,54);
}
.hero-div {
    position: relative;
}
.hero-img {
    margin-top: 100px;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic-1 {
    background-image: url(../img/jumbo-bg.png);
}
.hero-banner1 {
    position: absolute;
    top: 300px;
    left: 0;
    margin: 0 auto;
}
.hero-banner2 {
    position: absolute;
    top: 70px;
    left: 0;
    margin: 0 auto;
}
.hero-text {
    width: 450px;
}
.hero-banner-img {
    width: 300px;
}
.buy-now-button{
    background-color: #CD3D0F;
}
.buy-now-button:hover {
    outline: 2px solid black;
    outline-offset: -4px;
}
.thumbnail-game-logo {
    border-radius: 20px;
    cursor: pointer;
}
.tgl-active {
    border: 2px solid #0072CE;
}
.thumbnail-game-logo:active {
    border: 2px solid #0072CE;
}
.tgl-1:hover {
    animation: tgl-movement 1s linear;
}
@keyframes tgl-movement {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}
.info-button:hover {
    outline: 2px solid rgb(93, 29, 124);
    outline-offset: 3px;
}
.active, .unactive{
    cursor: pointer;
}
.active {
    border-bottom: 2px solid #0072CE;
}
.unactive {
    opacity: 0.5;
}
.unactive:hover {
    opacity: 1;
}
.unactive:hover span{
    border-bottom: 2px solid #0072CE;
}
.pic-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.nuove-uscite {
    background-color: rgb(31,31,31);
}
.psplus-bg {
    background-color: #BEBCBB;
}
.psplus-button {
    background-color: #D9DADC;
    color: #3A6CE5;
}
.bg-ps-now {
    background-color: rgb(22,28,59);
}
.bordo {
    border: 2px solid red;
}